@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Business Academy Aarhus<br />
     Oleksandr Klymchuk<br />
    <abbr title="Street">Ankjær 205</abbr><br />
    <abbr title="Town">Odder</abbr><br />
    <abbr title="Phone">24961850</abbr>
   
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:olkly85@gmail.com">olkly85@gmail.com</a><br />
    
</address>